<footer class="ug-footer">

  <div class="container px-1">
    <div class="row justify-content-between">
      <div class="col-lg-4 order-lg-2">
        <p class="footer-text">
          <a class="cf-a" href="{{ "/imprint" | relative_url }}">Imprint</a> | <a class="cf-a" href="{{ "/privacy" | relative_url }}">Privacy Declaration</a>
        </p>
      </div>
      <div class="col-lg-8 order-lg-1">
        <p class="copyright-text">
          &copy {{ site.year_created }}-{{ site.time | date: "%Y" }} - {{ site.owner }}
        </p>
      </div>
    </div>
  </div>

  <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
  {% if page.script %}
  <script src="{{ page.script | prepend: "assets/js/" | relative_url }}"></script>
  {% endif %}

</footer>
