$fa-font-path:        "../fonts/fontawesome";

$navbar-light-color: #000000;
$navbar-light-bg-color: $ug4blue;
$navbar-light-hover-color: lighten(#000000, 10%);
$navbar-light-active-color: lighten(rgba(#000000, 100%), 30%);
$navbar-light-brand-color: #000000;