$ug4blue: #66b5ff;
$ug4blue-hover: darken($ug4blue, 10%);
$footer-font-size: 0.8rem;
$light-gray: #e7e7e7;
$code: #66005e;
$contentwidth: 1200px;

li.nav-item.ug-nav-item {
    background-color: $ug4blue;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}

li.nav-item.ug-nav-item:hover {
    background-color: $ug4blue-hover;
}

div.ug-navbar {
    background-color: $ug4blue;
}

nav.navbar {
    max-width: $contentwidth;
    margin: auto;
}

div.content {
    max-width: $contentwidth;
    margin: auto;
}

.navbar-brand {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

img.banner {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

div.ugbanner {
    padding-left: 0;
    padding-right: 0;
}

div.ug-carousel-inner {
    height: 25rem;
}

p.ugabout {
    padding-top: 1rem;
    font-size: 1.2rem;
}

div.ug-card {
    background-color: $light-gray;
    border: 1px solid darken($light-gray, 10%);
    margin-bottom: 1rem;
}

p.footer-text {
    font-size: $footer-font-size;
    text-align: left;
    color: black;
}

@media (min-width: 992px) {
    p.footer-text {
        text-align: right;
    }
}

p.copyright-text {
    font-size: $footer-font-size;
    color: black;
}

footer.ug-footer {
    background-color: $light-gray;
    padding-top: 1rem;
    border-color: #66b5ff;
}

img.ug-collaborator {
    max-width: 300px;
}

.highlight {
    font-size: 1.2rem;
    margin-bottom: 0;
}

figure.highlight {
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: $light-gray;
}

pre {
    margin-bottom: 0rem !important;
    padding-left: 0.5rem;
}

div.ug-release {
    padding: 0.5rem;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
}

a.large {
    font-size: 1.3rem;
}

a.ug-link {
    color: black;
}

a.ug-link:hover {
    color: $ug4blue-hover;
}

hr.ug-release-rule {
    width: 25%;
    margin: 0.2rem 0;
}

a.ug-release {
    color: black;
    text-decoration: none;

}

a.ug-release:hover {
    text-decoration: underline;
    color: black;


    div.ug-release {
        background-color: $light-gray;
        border: 1px solid darken($light-gray, 10%);
    }
}

div.homepath {
    display: inline;
}

code {
    font-size: 1em !important;
    color: $code !important;
}

pre.highlight {
    font-size: 1em !important;
}

div.highlighter-rouge {
    background-color: $light-gray;
    border-radius: 3px;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

a.sideitem {
    color: black;
    text-decoration: none;
}

a.sideitem:hover {
    text-decoration: underline;
}

a.subsideitem {
    color: black;
    text-decoration: none;
}

a.subsideitem:hover {
    text-decoration: underline;
}

div.subsideitem {
    padding: 0.2rem 0.2rem 0 0.7rem;
}

img.example {
    max-width: 200px;
    max-height: 200px;
    aspect-ratio: 1/1;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;
}